* {
    border: 1px solid #000;
}

.add-task-btn {
    float: right;
}

.event-wrapper {
    border: 3px solid #000;
}

.task-wrapper {
    border: 3px solid #000;
}

.eventDataHolder {
    text-align: center;
}

.contactHolder {
    display: flex;
    flex-direction: column;
}